* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Layout global */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F0F8FF;
}

header {
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid black;
    margin: 25px auto;
    background: #B1B2B5;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    flex: 1;

}
.cta {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 25px;
}

.btn-connexion,
.btn-inscription {
    width: 25%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-connexion{
    background: #356aae;
}
.btn-inscription{
    background: #082c5b;
}